.addNoteButton {
  align-items: center;
  background-color: black;
  bottom: 4vw;
  cursor: pointer;
  display: flex;
  height: 5vw;
  justify-content: center;
  min-height: 60px;
  min-width: 60px;
  position: fixed;
  right: 3vw;
  width: 5vw;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.deleteNoteButton {
  align-items: center;
  background-color: red;
  cursor: pointer;
  display: none;
  height: 25px;
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease;
  width: 25px;
}

.mainTitle {
  font-size: clamp(40px, 4vw, 60px);
  font-weight: bold;
  text-align: center;
}

.note {
  border: 1px solid black;
  height: 250px;
  position: relative;
  margin: 10px;
  width: 250px;
}

.note:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.note:hover .deleteNoteButton {
  display: flex;
  opacity: 1;
}

.note input {
  border: 0;
  font-weight: bold;
  height: 15px;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

.note textarea {
  border: 0;
  box-sizing: border-box;
  height: calc(100% - 25px);
  padding: 5px;
  resize: none;
  width: 100%;
}

.noteContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.plusImage {
  height: 4vw;
  min-height: 50px;
  min-width: 50px;
  width: auto;
}

.trashBinImage {
  height: 20px;
  width: auto;
}