.addNoteButton {
  align-items: center;
  background-color: black;
  bottom: 4vw;
  display: flex;
  height: 5vw;
  justify-content: center;
  min-height: 60px;
  min-width: 60px;
  position: absolute;
  right: 3vw;
  width: 5vw;
}

.mainTitle {
  font-size: clamp(40px, 4vw, 60px);
  font-weight: bold;
  text-align: center;
}

.plusImage {
  height: 4vw;
  min-height: 50px;
  min-width: 50px;
  width: auto;
}
