.addNoteButton {
  align-items: center;
  background-color: black;
  bottom: 4vw;
  display: flex;
  height: 5vw;
  justify-content: center;
  min-height: 60px;
  min-width: 60px;
  position: absolute;
  right: 3vw;
  width: 5vw;
}

.plusImage {
  height: 4vw;
  min-height: 50px;
  min-width: 50px;
  width: auto;
}
